// adding new fonts to overwrite old bs.
// i, Jordan Brady, am making the decision to NOT support IE5-9, and Legacy Safari.. >:) does anyone ever use those?
// surely that won't be a problem???? right????? right?!!?!
// regular atkinson hyperlegible weight:400
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'), /* Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'); /* Safari, Android, iOS */
}

// italic atkinson hyperlegible weight:400 

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff'), /* Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'); /* Safari, Android, iOS */
}

// bold atkinson hyperlegible weight:700 

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: bold;
	font-weight: 700;
	src: url('./fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff'), /* Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'); /* Safari, Android, iOS */
}

// bolditalic atkinson hyperlegible weight:700 

@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 700;
	src: url('./fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'), /* Super Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'), /* Modern Browsers */
	url('./fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'); /* Safari, Android, iOS */
}

//overwriting head and body fonts with the atkinson hyperlegible font
//this took me like literally 30 minutes of me banging my head against my keyboard
//and 10 mins of dullahan telling me that i am doing it wrong for it to click in my head
// i have no mouth but i must scream

$body-font-family: 'Atkinson Hyperlegible', sans-serif;

head
{
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

body
{
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

// Changing img classname to fit the entire content margins and give 1rem pading on all sides.
img 
{
max-width: 100%;
display: block;
padding-block: 1rem;
}

// changing summary classname to increase font size to 1.5rem and change color to a pastel magenta to highlight dropdown detail classnames
// marty said no pink :'( no fun marty smh <3
summary
{
    font-size: 1.5rem;
    color: white;
}

//changing h1 fontsize and making them bold
h1
{
	padding-bottom: 1.2rem !important;
}

h2
{
	margin-top: 25px !important;
}

//changing h3 fontsize and making them bold
h3
{
	font-size: 1.5rem !important;
}

// change site nav, header, and footer to use all the space on screen
.site-nav, .site-header, .site-footer 
{
  width: 100%;
}

//change the sidebar to match the width of nav-width
.side-bar 
{
  @include mq(lg) 
	{
    width: $nav-width;
  }
}

//change main to match the left margin of nav-width
.main 
{
  @include mq(lg) 
	{
		width: 100%;
    margin-left: $nav-width;
		font-size: 1.1rem;
  }
}

// remove breadcrumbs
.breadcrumb-nav-list 
{
	display: none;
}

//reduce padding for nav bar top
.site-nav
{
	padding-top: 2.5rem;
}

.nav-list .nav-list-item 
{
	font-size: 1.05rem !important;
}
.nav-list .nav-list-item .nav-list-link.active 
{
	font-weight: 400 !important;
}

.site-button
{
	font-size: 115%;
}

.main-content-wrap 
{
	padding-top: 2.2rem !important;
}

hr 
{
	margin-top: 25px !important;
	margin-bottom: 25px !important;
}