// Define font family and path
$font-family: 'Atkinson Hyperlegible';
$font-path: './fonts/';
$body-font-family: $font-family, sans-serif;

// Mixin for font-face
@mixin font-face($style, $weight, $name) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    // Define source paths for different font formats
    src: url('#{$font-path}Atkinson-Hyperlegible-#{$name}-102a.woff2') format('woff2'),
         url('#{$font-path}Atkinson-Hyperlegible-#{$name}-102.woff') format('woff'),
         url('#{$font-path}Atkinson-Hyperlegible-#{$name}-102.ttf') format('truetype');
  }
}

// Include font-face for different styles and weights
@include font-face(normal, 400, 'Regular');
@include font-face(italic, 400, 'Italic');
@include font-face(normal, 700, 'Bold');
@include font-face(italic, 700, 'BoldItalic');

// Define navigation and content widths, header height
$nav-width: 350px !important;
$content-width: 100% !important;
$header-height: 4rem !important;

// Define padding and margin for headers
$padding-headers: 10px 0px 10px 0px;
$margin-headers: 0px 0px 0px 0px;

// Define font size and color for summary
$font-size-summary: 1.3rem;
$color-summary: #ffffff;

// THIS TOOK ME SO LONG TO FIX, DO NOT BREAK IT, OR I WILL CRY //
// THIS TOOK ME SO LONG TO FIX, DO NOT BREAK IT, OR I WILL CRY //
// THIS TOOK ME SO LONG TO FIX, DO NOT BREAK IT, OR I WILL CRY //
// THIS TOOK ME SO LONG TO FIX, DO NOT BREAK IT, OR I WILL CRY //

// Apply font family to body and head
body, head {
  font-family: $body-font-family;
}

// Define image styling
img {
  max-width: 100%;
	padding: $padding-headers;
  display: block;
  padding: 1rem 0;
}

// Define styling for summary
summary {
		font-size: $font-size-summary;
		color: $color-summary;
}

// Define styling for h1
h1 {
		display: block;
		padding: $padding-headers;
		margin: $margin-headers !important;
}

// Define common styling for h1, h2, h3
h1, h2, h3 {
		position: relative;
		padding: $padding-headers;
		margin: $margin-headers !important;
}

// Define styling for anchor-heading
.anchor-heading {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
}

// Define common styling for site-nav, site-header, nav-list-link
.site-nav, .site-header, .nav-list-link {
		font-size: 1rem !important;
		width: 100% !important;
}

// Define styling for site-footer
.site-footer {
		padding: 10px 15px 10px 15px !important;
		width: 100% !important;
		text-align: center;
		font-size: 1rem !important;
}

// Define styling for side-bar
.side-bar {
@include mq(lg) {
		width: $nav-width;
		}
}

// Define styling for main
.main {
@include mq(lg) {
		max-width: 1050px;
		width: 100%;
		margin-left: $nav-width;
		font-size: 1.1rem;
		}
}

// Define styling for breadcrumb-nav-list
.breadcrumb-nav-list {
		display: none;
}

// Define styling for site-nav
.site-nav {
		padding-top: 2.5rem;
}

// Define styling for nav-list .nav-list-ite
.nav-list .nav-list-ite {
		font-size: 1.05rem !important;
}

// Define styling for active nav-list .nav-list-item .nav-list-link 
.nav-list .nav-list-item .nav-list-link.active {
		font-weight: 400 !important;
}

// Define styling for site-butto
.site-butto {
		font-size: 115%;
}

// Define styling for main-content-wrap
.main-content-wrap {
		padding-top: 2.2rem !important;
}

// Define styling for hr
hr {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
}

// Define styling for p
p {
		margin-top: 10px !important;
		margin-bottom: 10px !important;
}

// Define styling for details-tree
.details-tree {
		position: relative;
}

// Define styling for details-tree::before
.details-tree::before {
		border-left: 1px solid #ffffff4A;
		content: "";
		height: 100%;
		position: absolute;
		top: 2.4rem;
		height: calc(100% - 2.4rem);
}

// Define styling for details-tree > *:not(summary)
.details-tree > *:not(summary) {
		margin-left: 2.4rem !important;
}

// Styles for note blocks
p.note, .note, blockquote.note {
	background: #9b80ce;
	border: 3px solid #381885;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding: 0.8rem;
	color: #FFFFFF;
}

// Styles for the "Note" label
p.note::before {
	color: #381885;
	content: "Note";
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	padding-bottom: 0.125rem;
}

// Styles for warning blocks
p.warning, .warning, blockquote.warning {
	background: #FF5264;
	border: 3px solid #B32736;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding: 0.8rem;
	color: #FFFFFF;
}

// Styles for the "Warning!" label
p.warning::before {
	color: #B32736;
	content: "Warning!";
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	padding-bottom: 0.125rem;
}

// Styles for warning blocks
p.important, .important, blockquote.important {
background: #70bfe7;
border: 3px solid #254da4;
border-radius: 4px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
padding: 0.8rem;
color: #FFFFFF;
}

// Styles for the "Warning!" label
p.important::before {
color: #254da4;
content: "Important!";
display: block;
font-weight: bold;
text-transform: uppercase;
font-size: 1rem;
padding-bottom: 0.125rem;
}