// COLORS

// Background color for the body of the website
$body-background-color: #191C20;

// Color for headings in the body
$body-heading-color: $grey-lt-000;

// Color for text in the body
$body-text-color: $grey-lt-300;

// Color for hyperlinks
$link-color: #5da8ed;

// Color for child links in the navigation
$nav-child-link-color: #ffffff;

// Color for the sidebar
$sidebar-color: #202329;

// Base color for buttons
$base-button-color: $grey-dk-250;

// Color for primary buttons
$btn-primary-color: $blue-200;

// Background color for code blocks, default for syntax-one-dark-vivid in OneDarkJekyll
$code-background-color: #31343f;

// Color for line numbers in code blocks, default for syntax-one-dark-vivid in OneDarkJekyll
$code-linenumber-color: #dee2f7;

// Color for feedback messages, slightly darker than the sidebar color
$feedback-color: darken($sidebar-color, 3.5%);

// Background color for tables
$table-background-color: $grey-dk-250;

// Background color for search bar
$search-background-color: $grey-dk-250;

// Color for search result previews
$search-result-preview-color: $grey-dk-000;

// Color for borders
$border-color: #ffffff4b;